<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title> Christmas Tree Lights </title>

</head>

<body>

<h1> Turn On/Off The Christmas Tree Lights</h1>

<p> Light Status: {{ lights }} </p>

<form action ="ChristmasTreeLights" method =get>
	<p>Turn Lights: <input  style="height:50px; width:50px" id='on1' type="submit" name='light'  value ='on'/> </p>
	
	<br/>
	
	<p>Turn Lights: <input  style="height:50px; width:50px" id='off1' type="submit" name='light'  value ='off'/></p>
</form>

</body>

</html>
