<!DOCTYPE html>
<html>
<head>
<title> Christmas Tree Water Level Graph</title>
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1','packages':['corechart']}]}"></script>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css')}}">
<script type="text/javascript">
google.load('visualization', '1', {packages: ['corechart']});
google.setOnLoadCallback(drawChart);

function drawChart() {
	// Get Time Zone Offset
	//var d = new Date();
	//var n = d.getTimezoneOffset();
	
     var data = new google.visualization.DataTable();
     data.addColumn('datetime', 'Time(long)');
     data.addColumn('number', 'Water Level');
	 data.addColumn('number', 'Low Water Level');
	 {% for item in WaterLevel %}
	 	var dtestr ="{{item[0]}}";
	 	var d = new Date(dtestr);
		//d.setMinutes(-n);
		//console.log(d);
	 	data.addRow([d,{{item[1]}},2]);
     {% endfor %}  
    

     var options = {
	height: 700,
       hAxis: {
         title: 'Time'
       },
	   vAxis: { 
		   title: "Water Level", 
		   viewWindowMode:'explicit',
		   viewWindow:{
			   max:3.5,
			   min:0.0
		   }
		}
     };

     var chart = new google.visualization.LineChart(
       document.getElementById('ex0'));

     chart.draw(data, options);

   }

</script>

</head>

<body>

<h1> WaterLevel "WC</h1>

 <div id="ex0"></div>
 
</body>





</html>
